{% extends 'navbar.html' %}

{% block content %}

<!-- <div class="row">
    
 <div class="col-md-1.5">
  <h5>This Week</h5>
  <hr>
  <div class="card card-body">
   <a class="btn btn-primary  btn-sm btn-block" href="">Monday</a>
   <table class="table table-sm">
    <tr>
        <th></th>
        <th>Status</th>
        <th>Task</th>
    </tr>
   </table>
</div>
   <div >
    <h5>This Week</h5>
    <hr>
    <div class="card card-body">
     <a class="btn btn-primary  btn-sm btn-block" href="">Monday</a>
     <table class="table table-sm">
      <tr>
          <th></th>
          <th>Status</th>
          <th>Task</th>
      </tr>
     </table>

</div> -->
<h1>This Week</h1>
<hr>

<div class="row">
    <div class="col-md-2">
        <div class="card card-body">
        <a class="btn btn-primary  btn-sm btn-block" href="">Monday</a> <br>
      <table class="table table-sm">
       <tr>
           <th>Tasks</th>
       </tr>

       <tr>
           <td>&#9900; Make Coffee</td>
       </tr>

       <tr>
        <td>&#x2022; Study CS</td>
        </tr>

        <tr>
            <td>&#8211; Workout</td>
        </tr>

        <tr>
            <td> &#x2613; Quiz</td>
        </tr>
        
        

      </table>
      <input type="date" id="theDate">
     </div>
    </div>
   
    <div class="col-md-2">
 
     
        <div class="card card-body">
        <a class="btn btn-primary  btn-sm btn-block" href="">Tuesday</a>
      <table class="table table-sm">
       <tr>
           <th></th>
           <th>Tasks</th>
       </tr>
      </table>
      <input type="date" id="theDate">
     </div>
    </div>

    <div class="col-md-2">
    
       
        <div class="card card-body">
        <a class="btn btn-primary  btn-sm btn-block" href="">Wednesday</a>
      <table class="table table-sm">
       <tr>
           <th></th>
           <th>Tasks</th>
       </tr>
      </table>
      <input type="date" id="theDate">
     </div>
    </div>
    <div class="col-md-2">
   
     
        <div class="card card-body">
        <a class="btn btn-primary  btn-sm btn-block" href="">Thursday</a>
      <table class="table table-sm">
       <tr>
           <th></th>
           <th>Tasks</th>
       </tr>
      </table>
      <input type="date" id="theDate">
     </div>
    </div>
    <div class="col-md-2">
    
     
        <div class="card card-body">
        <a class="btn btn-primary  btn-sm btn-block" href="">Friday</a>
      <table class="table table-sm">
       <tr>
           <th></th>
           <th>Tasks</th>
       </tr>
      </table>
      <input type="date" id="theDate">
     </div>
    </div>
    <div class="col-md-2">
  
    
        <div class="card card-body">
        <a class="btn btn-primary  btn-sm btn-block" href="">Saturday</a>
      <table class="table table-sm">
       <tr>
           <th></th>
           <th>Tasks</th>
       </tr>
      </table>
      <input type="date" id="theDate">
     </div>
    </div>
    <div class="col-md-2">
  

        <div class="card card-body">
        <a class="btn btn-primary  btn-sm btn-block" href="">Sunday</a>
      <table class="table table-sm">
       <tr>
           <th></th>
           <th>Tasks</th>
       </tr>
      </table>
      <input type="date" id="theDate">
     </div>
    </div>
   </div>
   

{% endblock %}